.Header{
  background-color: rgb(136, 225, 136); 
  color: rgb(9, 90, 23);
  font-size: xxx-large;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.LoginPage{
  margin-top: 15vh;
  text-align: center;
  font-size: xx-large;
  
}
.myInputBox{
  margin-bottom: 30px;
  width: 250px;
  height: 30px;
  font-size: 30px;
  text-align: center;
}

.myEnterButton {

  width: 200px;
  height: 30px;
  font-size: 25px;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.TodoList {

  text-align: left;
  font-size: xx-large;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.myTodoListCheckbox {
  width: 20px;
  height: 30px;
  text-align: center;
}
.ExercisesBackground {
  background-color: rgb(136, 225, 136);
  text-align: center;
}
.Today {
  text-align: center;
}

.myAccountButton {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top:96%;
  left: 92%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.AccountInformation {
  text-align: left;
  font-size: x-large;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.Title {
  font-size: xx-large;
  margin-top: 35px;
  background-color:rgb(136, 225, 136);
}